body
  margin: 0px
  font-family "Arial", sans-serif



.header
  height: 80px
  border-bottom: solid 2px #888
  background-color: #eee
  h1
    line-height: 80px
    margin: 0px 12px

.sidebar
  position:absolute
  top: 82px
  bottom: 0px
  width: 200px
  border-right: solid 2px #aaa
  background-color: #ddd
  ul
    margin: 12px 0px
    padding: 0px 12px
    list-style-type:none

    li
      cursor: pointer
      border: solid 1px #ccc
      background-color: #eee
      margin: 8px 0px
      padding: 1px 4px
      

    li:hover
      border: solid 1px #aaa
      background-color: #f7f7f7

.body
  position:absolute
  top: 82px
  left: 202px
  right: 0px

  h2
    margin: 12px
