link(rel='stylesheet', href='main.css')
.header
  h1 PLAN CHANGES HANDY SIMLPE APP VERSION AKA "..how long did my plan change take?"
.sidebar
  ul
    li.js-new New plan change
    li.js-load Load plan change
    li.js-overview Plan change overview
.body.js-content
